.aside {
    padding: 1rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}