.main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;    
    &__title {
        color: var(--clr-main);
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    &__container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: 400px;       
        gap: 3rem;        
    }
}
