.main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;  
    &__title {
        color: var(--clr-main);
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        grid-template-rows: 400px;       
        justify-content: space-between;
        gap: 2rem;
    }
}
