.main {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        grid-template-rows: 400px;       
        justify-content: space-between;
        gap: 2rem;
        &__list {                      
            max-width: 100%;
            height: 400px;         
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;        
            border-radius: 1rem;
            background: white;
            &--image {
                max-width: 100%;
                height: 100%;                       
                object-fit: contain;
                object-position: center;                
                overflow: hidden;
                border-radius: 1rem;
            }            
            &--details {
                justify-self: flex-end;           
                background-color: var(--clr-main);
                color: var(--clr-white);
                padding: .5rem;
                border-radius: 1rem;                
                position: absolute;
                width: 100%;
                max-height: 105px;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }            
            &--title {                
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;    
                height: 32px;
                max-height: 32px;
            }
            &--add {
                height: 32px;
                border: none;
                background-color: var(--clr-white);
                color: var(--clr-main);
                text-transform: uppercase;
                padding: .4rem;
                border-radius: 1.5rem;
                cursor: pointer;
                border: 2px solid var(--clr-white);    
                transition: color 0.5s;
                &:hover {
                    background-color: var(--clr-main);
                    color: var(--clr-white);
                }
            }            
        }
    }
}
